.container {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid #a1a1a1;
  padding: 0 20px;
}

.navButton {
  background: none;
  border: none;
  color: #a1a1a1;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #fff; 
  }

  &:focus {
    outline: none;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

button:last-child {
  margin-right: 0;
}

.active {
  border-bottom: 2px solid white;
  color: #fff;
}